@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.error {
  background-image: url("../public/error.svg");
  background: no-repeat;
  text-align: center;
  position: relative;
  bottom: 0;
  padding-bottom: 0;
}
.no-location {
  background: no-repeat;
  text-align: center;
  position: relative;
}
* {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.search input,
select {
  border: none;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  width: 20rem;
  color: black;
}

option {
  border: none;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  width: 5rem;
  color: black;
}

select {
  width: 6rem;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  margin: 0;
  overflow-y: scroll;
}
.top-container {
  align-items: center;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
}

.top-container .search,
.search-button,
.mode {
  text-align: center;
}

.search-button {
  display: none;
}

/* Weather info */

.weather-info {
  width: 70%;
  margin: 5rem auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

.major-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.location-name {
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.weather-image {
  margin-right: 0;
}
.welcome-box{
  padding: 5rem;
  margin: 5rem auto;
  text-align: center;
  width: 50rem;
  border: none;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  color: black;
  height: max-content;
}
.icons{
  padding: 3rem 0;
}

.major-details, .temperature, .wind-speed, .coordinates{
  padding: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
  }

  .app .top-container {
    margin: 0.5rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    display: flex;
    justify-content: center;
  }
  .bottom-container{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0; */

  }
  .search-button{
    display: block;
  }
  .search {
    display: flex;
    justify-content: flex-end;
  }

  .search input,
  select {
    width: 80%;
    margin: 0.5rem 0.5rem;
  }

  .mode IconButton {
    width: 0.5rem;
    height: 0.5rem;
  }

  .weather-info {
    width: 80%;
    margin: 3rem auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .major-details{
    display: flex;
    flex-direction: column;
  }
  .location-name {
    font-size: 2rem;
    justify-content: center;
  }
  .welcome-box{
    width: auto;
    margin: 1rem;
  }
  .icons{
    padding: 0;
  }
  .no-location h1{
    font-weight: 300;
  }
}